<div class="container">
  <div class="row">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="col-lg-6" style="margin-top: 20px;">

      <%= link_to "Return to MyTinder", browse_path, class: "btn btn-secondary", style: "float: right;" %>

      <h2 style="margin-bottom: 20px;">Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
      </div>

      <% if @account.image.attached? %>
        <%= image_tag @account.image, width: "150px", style: "margin-top: 20px; margin-bottom: 20px;"%>
      <% end %>

    <div class="form-group">
        <%= f.label :job_studies %><br />
        <%= f.text_field :job_studies, autocomplete: "job_studies", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :location %><br />
        <%= f.text_field :location, autocomplete: "location", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :bornDate %><br />
        <%= f.text_field :bornDate, 
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "d.m.Y",
          }, autocomplete: "bornDate", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_field :description, autocomplete: "description", class: "form-control" %>
      </div>

      <div class="form-group" style="margin-top: 20px;">
        <%= f.submit "Update", class: "btn btn-primary btn-lg", style: "margin-bottom: 20px;" %>
      </div>
    <% end %>

    <p>Want to close your account? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    </div>
  </div>
  </div>
</div>

