<div class="container" style="margin-top: 20px;">
  <div class="row">
  <div class="card mb-4 rounded-3 shadow-sm">
    <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Sign up</h2>

    <p sytle="float: right;">* required</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email *" %>
      </div>

      <div class="form-group mt-4">
        <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control", placeholder: "First name *" %>
      </div>

      <div class="form-group ">
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password (6 characters minimum) *" %>
      </div>

      <div class="form-group mt-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password confirmation *" %>
      </div>

      <div class="form-group mt-4">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
      </div>

      <div class="form-group mt-4">
        <%= f.text_field :job_studies, autocomplete: "job_studies", :required => true, class: "form-control", placeholder: "Job/studies *" %>
      </div>

      <div class="form-group mt-4">
        <%= f.text_field :location, autocomplete: "location", :required => true, class: "form-control", placeholder: "Location *" %>
      </div>

      <div class="form-group mt-4 w-25">
        <%= f.text_field :bornDate, required: true, placeholder: "Born date *",
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "d.m.Y",
            flatpickr_allow_input: true,
            flatpickr_enable_time: false,
          }, class: "form-select" %>
      </div>

      <div class="form-group mt-4 w-25">
        <p style="margin-bottom: 0;"> Gender * <p>
        <%= f.select :gender, ['Male', 'Female'], {:required => true}, class: "form-select", required: true %>      
      </div>

      <div class="form-group mt-4">
        <%= f.text_field :description, autocomplete: "description", class: "form-control", placeholder: "Description" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "w-100 btn btn-primary btn-lg", style: "margin-bottom: 20px; margin-top: 20px;" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
