<% if @conversation %>
    <% @conversation.each do |conversation| account = get_account_from_conversation(conversation) %>
        <% if account.present? %>
            <div class="row">
                <div class="col open-conversation" data-id="<%= account.id %>">
                    <%= profile_thumbnail account %>
                    
                    <strong><%= account.first_name %></strong>
                    <div class="profile_picture d-inline-block fa-stack" data-id="<%= account.id %>" title="Profile info">
                        <i class="fas fa-circle fa-stack-1x text-white"></i>
                        <i class="fas fa-info fa-stack-1x text-black"></i>
                    </div>
                    <%= simple_format conversation.messages.last.body %>
                </div>
            </div>
        <% end %>
    <% end %>
    <% else %>
        <p> No messages to display. </p>
<% end %>


