<div class="container w-50" style="margin-top: 20px;">
  <div class="row">
    <div class="card mb-4 rounded-3 shadow-sm" style="text-align: center;">
    <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group center mb-3 mt-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control text-center", placeholder: "Email" %>
      </div>

      <div class="form-group w-50-center mt-4">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control text-center", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group mt-3 mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Log in" , class: "w-50 btn btn-primary btn-lg mb-4" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
    </div>
</div>
