<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <%= image_pack_tag('TinderLogo.png', class: 'logo-navbar') %>
      <h5 class="my-0 mr-md-auto font-weight-normal">MyTinder</h5>

      <% if account_signed_in? %>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <%= link_to "Browse", "#", class: "me-3 py-2 text-dark text-decoration-none" %>
          <%= link_to "My Matches", "#", class: "me-3 py-2 text-dark text-decoration-none" %>
          <%= link_to "Settings", "#", class: "me-3 py-2 text-dark text-decoration-none" %>
        </nav>

        <%= link_to "Sign out", destroy_account_session_path, method: :delete, class: "btn btn-secondary me-2" %>

        <% else %>
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Pricing</a>
          </nav>

        <%= link_to "Sign in", new_account_session_path, class: "btn btn-secondary me-2" %>
        <%= link_to "Sign up", new_account_registration_path, class: "btn btn-outline-primary me-3" %>

      <% end %>
</div>
  